[2019-09-26 18:23] 1ucian0 opened #3 "Good first issues"
# Abstract
Qiskit (Terra in particular) has [several bugs tagged as `good first issues`](https://github.com/Qiskit/qiskit-terra/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22). These issues are low priority, relatively simple to fix, and they can be a good introduction the Qiskit codebase. This project is about closing as many of those issues as possible.

# Members
This project is a

[2019-09-26 18:30] 1ucian0 opened #4 "The layout problem as a Max-SAT problem"
# Abstract
The PR https://github.com/Qiskit/qiskit-terra/pull/3043 introduced the idea of solving the mapping problem (convert the circuit to run in a real device the coupling map) as a CSP. There are probably other similar approaches to, for example, minimize the amount of required swaps.

# Description
The mapping problem can be explained by the following example. Imagine a device with the follo

[2019-09-26 18:32] 1ucian0 opened #5 "Testing visualization modules in Terra"
# Abstract
Terra is having troubles testing all the visualization modules (see https://github.com/Qiskit/qiskit-terra/issues/2968). That has [on hold a bunch of issues](https://github.com/Qiskit/qiskit-terra/issues?utf8=%E2%9C%93&q=is%3Aopen+label%3A%22on+hold%22+2968). Probably, the way to go is mocking the external libraries that create this figures and make sure that they are called with the *r

[2019-10-11 06:58] 1ucian0 commented on #4
https://developers.google.com/optimization/mip/integer_opt_cp

[2019-11-01 08:41] itoko opened #1 "Ranking Transpiler Optimization Gamers"
# Abstract
Make a ranking system for serious gamers (=researchers) who develop their own transpiler optimization passes.

Formally, create a kind of "pass benchmarking repository", which benchmarks passes implementing state-of-the-art compiler optimization algorithms, e.g. those developed in [Qiskit Developer Challenge for IBM Q Award 2019: Circuit Optimization](https://ibmqawards.com/developer-ch

[2019-11-05 05:46] nkanazawa1989 opened #2 "Enhance pulse visualization module"
# Abstract

All quantum circuits are made up of sequence of microwave pulses. Recently we released _OpenPulse_, which is a new module in qiskit terra, enabling programming of quantum circuits at a level of microwave pulses. Circuit visualizers have been improved to provide better usability. Likewise, improvement of pulse visualizer is very important.

# Description

The PR [Qiskit/qiskit-terra#265

[2019-11-07 18:30] mtreinish opened #6 "Improving Qiskit Benchmarking and Performance"
# Abstract
The Qiskit project has a benchmark system in place that is setup to automatically benchmark and track the performance (not just in execution time, but also quality of output) of the Qiskit over time. Right now there are a limited number of benchmarks that only characterize the performance for a subset of Qiskit Terra. This project would be working on creating new benchmarks that we can

[2019-11-08 01:28] JavaFXpert opened #7 "Create series of escape rooms in QiskitBlocks that teach a quantum computing concept"
# Abstract
[QiskitBlocks](https://github.com/JavaFXpert/QiskitBlocks) is a block-mining game similar to Minecraft, with some escape-room features reminiscent of Portal. QiskitBlocks is being created to help people learn quantum computing concepts using the OpenQASM instruction set.

One of the features of QiskitBlocks is its escape rooms containing quantum circuit puzzles. There are currently two

[2019-11-08 02:44] a-matsuo opened #8 "Solving TSP with Grover's"
# Abstract
Solve Optimization problems such as TSP with Grover's algorithm.

# Description

Solve Optimization problems such as TSP with Grover's algorithm.
You need some ingenuity and creativity to make Grover's circuits with less costs.
The following links will help you to get some ingenuity.

quantum-challenge/2019/problems/final/answer_and_comment_by_judges_en.ipynb
https://github.com/quantum-

[2019-11-08 02:46] a-matsuo opened #9 "Solve optimization problems with a DOcplex translator"
# Abstract
Aqua has a DOcplex translator for optimization problems. It automatically generate an Ising Hamiltonian for an optimization problem from an optimization model to solve it with quantum computers. It is useful and new but there are not enough usage examples for the DOcplex translator.

# Description

Solving an optimization problem with quantum computer requires translating the optimizati

[2019-11-08 08:56] a-matsuo opened #10 "Create your own entangler for VQE"
# Abstract
Create your own entangler (or often called variational form) for VQE.

# Description

Currently we have some entangler in Qiskit such as Ry, RyRz and swaprz.
However no one knows there are better entanglers or not.
VQE is a new method and we just started to do research.
There is a possibility we can find better entanglers.

**This project will be challenging. I have no idea how to imple

[2019-11-08 21:50] xkwei1119 opened #11 "Measuring spread of quantum information via out-of-time ordered correlations"
# Abstract
How does quantum information move in a many-qubit system, and can we measure its dynamics in a quantum processor? Out-of-time ordered correlations (OTO) have been proposed as a tool for measuring spread of quantum information; it has been shown that OTO is a quantifier of quantum chaos [1].

# Description
We will construct a simple quantum circuit to measure OTO, and demonstrate it expe

[2019-11-12 07:51] doichanj opened #12 "Making GPU statevector simulator portable (Qiskit Aer)"
# Abstract

Qiskit Aer will include GPU to accelerate simulation by using Thrust library that supports NVIDIA's GPUs.
Because Thrust only supports NVIDIA's GPU, we have to implement with other libraries for the portability to other GPUs such as AMD's GPU or Intel's CPUs.
In this activity we will consider how we can make the GPU simulator portable.

# Description

We are now preparing for merging G

[2019-11-12 11:52] tehruhn commented on #11
Hi, @xkwei1119 , I would be extremely interested in working on this with you (I am a fellow Qiskit Camp invitee). Should we discuss details of this over email (in order to avoid spamming this issues thread, so that other interested people can message here as well)? Or you could personal-message me on Slack. I'm on the Qiskit Asia group, as Tarun Raheja.

[2019-11-12 19:11] xkwei1119 commented on #11
@tehruhn Hi Tarun, we can discuss here, so others who are interested can see as well.

[2019-11-13 00:22] tehruhn commented on #11
Aah, okay. So what I wanted to talk about is relevant literature. I have more of a CS background than Physics, so I was wondering if you could recommend some background reading I could look at before the camp? I have very distributed knowledge in Physics, I know undergrad Quantum Mechanics, and I'm familiar with the Matrix Product States/DMRG formalism, and have done some work in Trotterization et

[2019-11-13 02:36] xkwei1119 commented on #11
Hi Tarun, yes there is a nice theory paper on various protocols to measure quantum information scrambling https://arxiv.org/abs/1602.06271 as well as the overview article I linked in the issue. A couple nice experimental demonstrations are in https://arxiv.org/abs/1608.08938 and https://arxiv.org/abs/1609.01246 We will hack something similar but will be simplified.

[2019-11-13 05:56] starktech23 commented on #11
Hi @xkwei1119 @tehruhn. I'm interested in contributing to the project at the camp as well. Thanks for the literature, will go through that.

[2019-11-13 18:07] haoyudoingthings commented on #10
Hi, I'm currently learning about VQE and am interested in this topic. Do you have any specific details on this subject, or are you just throwing ideas around?

[2019-11-13 22:45] arthurostrauss opened #13 "Quantum Global Public Goods game implementation on Qiskit"
# Abstract

The well-being of our global ecosystem is dependent on the shared preservation of global public goods (GPGs). A GPG is a good which cannot be replaced with any other good, and that no one can be theoretically excluded from, such as air or climate change impact. One of the biggest threats to GPG integrity is the free-rider problem, which is a well defined problem in Game theory frame. I

[2019-11-14 05:09] a-matsuo commented on #10
Hi, I have some ideas for new entanglers, but I have no idea how to implement them into Qiskit Aqua yet. We need to search how we can implement entanglers into Qiskit Aqua before trying our own entanglers. The implementing part would be a challenging.

[2019-11-14 06:46] itoko commented on #4
This paper would be interesting for this project members.

Depth-Optimal Quantum Circuit Placement for Arbitrary Topologies
https://arxiv.org/abs/1703.08540

It provides MIP formulation of the mapping problem (objective is minimization of circuit depth, though) under given fixed layers.

[2019-11-14 07:38] xenoicwyce commented on #8
Hi, I'm interested in solving TSP using quantum computing. I've read papers like https://arxiv.org/abs/1805.10928 which uses phase estimation to estimate the path distance, then using a "quantum minimum searching algorithm" (https://arxiv.org/abs/quant-ph/9607014), which in turn relates to the Grover's algorithm. We can try to implement this using Qiskit.

[2019-11-14 09:09] t-imamichi opened #14 "New classical optimizer for VQE of Aqua"
# Abstract
Variational quantum eigensolver (VQE) is a hybrid quantum algorithm to find the ground state of an input Hamiltonian. There are several classical optimizer available in Qiskit Aqua such as SPSA and Cobyla. See the [full list](https://github.com/Qiskit/qiskit-aqua/tree/master/qiskit/aqua/components/optimizers).

Let's implement more optimizers for VQE of Aqua. There are a couples of opti

[2019-11-14 09:49] t-imamichi opened #15 "Objective function generator"
# Abstract

Variational quantum eigensolver (VQE) is a hybrid quantum algorithm to find the ground state of an input Hamiltonian. VQE of Qiskit Aqua generates quantum circuits corresponding the Hamiltonian, evaluates them, and optimizes parameters. But, the objective function is generated internally and cannot be available by users. This project is to implement a generator of the objective functio

[2019-11-14 10:50] a-matsuo commented on #8
That's a nice idea. I think that topic can be different topic by itself. Why don't you create your own issue?

[2019-11-14 11:40] Naphann commented on #8
I'm interested in this topic.
What I have in mind right now is a straight-forward approach which would need `(n - 1) log n + log k` plus some extra 2-3 clean ancilla bits where n is the number of TSP node and k being the maximum total distance.
We still need to use [quantum minimum searching algorithm](https://arxiv.org/abs/quant-ph/9607014) mentioned by @xenoicwyce and by dynamically generate ora

[2019-11-14 11:50] xenoicwyce commented on #8
@Naphann
I think we can discuss more on this. But first I might need to collect more information on this, e.g. how to implement and stuffs.

[2019-11-14 15:13] Naphann commented on #8
I only have a rough idea in mind right now. I'll try to explain what my idea is.
1. Three sets of register are needed, `input` which stores the order of cities we plan to visit, `distance` which will store the total distance, and `anc` which is a clean ancilla bits to work with.
2. A function/circuit `traverse(u, v, distance)` that will add distance from city u to city v to `distance` register. (a

[2019-11-14 15:38] a-matsuo commented on #8
@Naphann @xenoicwyce
I think that @Naphann 's implementation idea including "quantum minimum search algorithm" @xenoicwyce mentioned is wonderful! I will be extremely happy if you guys can work on this project ; D

[2019-11-14 17:53] jsupasil commented on #8
Hello. From what I understand, "quantum minimum searching algorithm" is the search problem that have unknown number of solutions which is an issue for Grover's algorithm. However, this paper https://arxiv.org/abs/quant-ph/9605034 which was written from the same author has shown the method to solve it. I understand that we may need to observe the state and re-initial circuit for some iterations bef

[2019-11-15 03:14] xenoicwyce commented on #8
@Naphann
Thanks for your superb idea. In that case, is the input going to be the superposition of all the possible paths? And then we will mark the minimum distance with (-) sign, and also flip back the sign which is previously marked (-) if a new minimum is detected in every iteration?

[2019-11-15 05:26] ace314 opened #16 "Implementing quantum multi-collision algorithm on Qiskit"
# Abstract

Finding collisions for a many to one mapping is a fundamental problem in cryptography. In this project, we would implement quantum multi-collision algorithm on Qiskit. Rather then simply applying Grover search, which gives a quadratically speed up, we would like to realize more efficient algorithms to attack the multi-collision problem.
# Description

The multi-collision problem states

[2019-11-15 14:28] fvarchon opened #17 "[Qiskit Installation] Trouble with Qiskit installation? - Ask Here"
# Help Desk

If you are having trouble installing qiskit in your environment, add a comment below and we will help you.

## Comment template:
### 1/ Short description of your problem

### 2/ Information
**Qiskit version**: Stable or Master?
**Operating system**: ?
**Slack name** in qiskit.slack.com: ?

[2019-11-17 03:34] asa-eagle opened #18 "Solving Eternity II puzzle by quantum reinforcement learning inspired approach"
# Abstract

The Eternity II puzzle is an edge-matching puzzle which involves placing 256 square pieces into a 16 by 16 grid, constrained by the requirement to match adjacent edges. It has been designed to be difficult to solve by brute-force computer search. So why don’t we try solving it with a Quantum computer?
<img src="https://upload.wikimedia.org/wikipedia/commons/4/4c/Eternity_II_1.jpg" alt=

[2019-11-17 04:04] asa-eagle opened #19 "Solving game with quantum-enhanced reinforcement learning"
# Abstract
Solving some games with quantum-enhanced reinforcement learning.
Reinforcement learning is one of the branch of machine learning and some quantum enhanced algorithms are proposed recently. So applying it to solving some games (from open AI gym? or some easy game like Tic tac toe) may be fun to try.

# Description
In quantum-enhanced reinforcement learning, a quantum agent interacts with

[2019-11-17 11:47] R07222062 commented on #16
I'm very interesting in this topic. I've finish reading the papers and had some thoughts. Maybe we can discuss some ideas through email?

[2019-11-17 13:59] ace314 commented on #16
Tnx for your noticing! Feel free to email me at any time. It would be nice if you could post your thoughts here :)

[2019-11-17 14:12] ace314 commented on #17
1/ Short description of your problem
It is just a minor problem. I cannot import Aer from qiskit; while BasicAer works fine to me. I think it's the problem similar to https://github.com/Qiskit/qiskit-aer/issues/112. But the solution in this issue
failed to my case.
2/ Information
Qiskit version: Master. I installed all modules via pip install.
Operating system: win10
Slack name in qiskit.slack.com

[2019-11-17 15:18] g-white commented on #11
Hey all, this sounds really interesting. Would love to discuss further at the camp :)

[2019-11-17 15:18] anedumla opened #20 "Graph colouring and an improved hamiltonian simulation algorithm"
# Abstract
The problem of Hamiltonian simulation can be described as, given a hermitian matrix H and a real number t, find a circuit for exp(iHt).

Usually this is a hard problem and a widely used algorithm is:

1. Find a decomposition H = H_1 + H_2 +... + H_m such that we can find circuits for each exp(iH_j t).
2. Approximate exp(iHt) by a product of the exp(iH_j t) (i.e. by putting the smaller c

[2019-11-17 15:40] Brogis1 opened #21 "[Chemistry] My Chemical Romance"
# Abstract
![entanglement_with_atom](https://user-images.githubusercontent.com/44547826/69009836-d0bfcb80-099c-11ea-9914-f27b3d814c98.png)
Calculate entanglement entropies of orbitals and represent their mutual information matrix as in the Figure above (numbers correspond to the orbitals, the boldness of the lines connecting them is proportional to the magnitude of entanglement).

# Description
Mo

[2019-11-17 16:43] abtmy commented on #16
I'm interested in this project. This algorithm is used when we consider post-quantum security of hash functions.

[2019-11-17 17:10] Tanutk opened #22 "Quantum Neural Network based on Machine Translator"
# Abstract

As human computer interfaces become more advanced, natural language processing for scaling of machine translator to address computational linguistics is inherently interdisciplinary. In order to apply gate-model in recurrent quantum neural network to predict output of words/sentences more efficiently.

# Description

As Quantum technique can be speedup in adaptive boosting of classific

[2019-11-17 17:10] JRWSP commented on #20
Hi, this sounds interesting. I hope we could have a discussion on this topic.

[2019-11-17 17:40] ace314 commented on #16
I am glad to here that. Maybe we can discuss the details tomorrow. See you then :)

[2019-11-17 17:42] hhorii opened #23 "[Qiskit-Aer] Improve qiskit-aer performance by rewriting a circuit"
# Abstract
Improve simulation performance in qiskit by adding specialized transpilation.

# Description
There are two approaches to add new transpilation technique for simulation.

- [Add a pass in terra](https://github.com/Qiskit/qiskit-terra/tree/master/qiskit/transpiler/passes)
- [Add a optimizer in aer](https://github.com/Qiskit/qiskit-aer/tree/master/src/transpile)

Some optimization candidat

[2019-11-18 00:35] haroldlco opened #24 "Quantum image processing. Case Study: Cities at Night"
# Abstract
Quantum image encoding, edge detection and matching with a cool application.

# Description

There have been recent developments in the implementation of image processing on quantum computers. Specifically, current algorithms have been proposed for basic filtering and edge finding. Moreover, various schemes have also been proposed related to the representation of images using qubits. Th

[2019-11-18 00:54] chriseclectic opened #25 "Leakage randomized benchmarking in Qiskit"
# Abstract

Implement the leakage randomized benchmarking characerization protocol from [1] in Qiskit and use it to characterize leakage in IBMQ devices.

[1] *Quantification and Characterization of Leakage Errors* CJ Wood and JM Gambetta, Phys. [Rev. A 97, 032306 (2018)](https://journals.aps.org/pra/abstract/10.1103/PhysRevA.97.032306) ([ArXiv: 1704.03081](https://arxiv.org/abs/1704.03081))

# De

[2019-11-18 01:01] chriseclectic commented on #12
There is also a AMD ROC Thrust library that might be useful for compiling existing Thrust code for AMD: https://github.com/ROCmSoftwarePlatform/Thrust

[2019-11-18 01:13] chriseclectic opened #26 "Create a scheduled circuit transpiler pass"
# Abstract

Quantum circuits in Qiskit have no notion of gate times, pulse schedules on the other hand have an explicit structure for order of operations and their durations. This project would be to create an intermediate representation of a circuit that has the timing information used in pulse schedules, but without the pulse definitions themselves.

# Description

Having an intermedate schedule

[2019-11-18 01:27] atilag commented on #17
@ace314 I can help you here! Let's meet and see what's going on :)

[2019-11-18 01:31] taalexander opened #27 "Implement a GRAPE calibrator on the pulse simulator"
# Abstract

[GRAPE](http://www.org.chemie.tu-muenchen.de/glaser/94(GRAPE_JMR_05).pdf) is an optimal control algorithm to generate a discrete control sequence to implement an arbitrary quantum gate given available control stimulus and system Hamiltonians. Implement a GRAPE pulse designer for an IBMQ system Hamiltonian, output a pulse schedule and demonstrate its functionality on the pulse simulator

[2019-11-18 01:46] taalexander opened #28 "Design a pulse programming language"
# Abstract

Pulse programming in Qiskit is currently implemented as in-memory IR. Design a language and implement a parser/grammar using a standard Python package (see what QASM is using for example) for pulse programming that may be interpreted to form a pulse schedule.

# Description

The `pulse` module in Qiskit allows scheduling of pulse instructions absolutely in time. A pulse schedule is a b

[2019-11-18 01:49] doichanj commented on #12
So it seems GPU simulator written in Thrust is already portable.

[2019-11-18 02:26] asierarranz opened #29 "🎤Q-RAOKE 🎤 World's First Quantum Karaoke"
# Abstract
World's First Quantum Karaoke

# Description
A Karaoke that uses Quantum principles to select who is going to sing, or which lyrics is going to be played. Details to be brainstormed.

# Members

Qiskit Coach: @asierarranz

# Deliverable
Working product

# GitHub repo

[2019-11-18 02:34] asierarranz opened #30 "Use Maneki-Nekos (Japanese famous cats moving a hand) to explain the bloch sphere"
# Abstract
The Maneki-Neko is a famous Japanese cat, that moves the hand continously, it could be used to represent the variation between the 0 and 1 states of a Qbit, could be possible using two of them, to represent the whole bloch sphere, and this could be a great approach to educate newcomers to the Quantum Computing world.

![image](https://media.giphy.com/media/tloHPZeGHoE2Q/giphy.gif)

# Me

[2019-11-18 02:38] asierarranz opened #31 "Quantum Deep Advantage: Reinforcement learning to create quantum circuits that solve a simple problem"
# Abstract
Use machine learning to place gates that solve a simple problem (like a sum, substract, etc.), so the final quantum circuit is optimized and done by the computer insted of a human.

# Members
- @SamTonetto
- @MakotoNakai
- @dacozai
- @sitong1011
- @YinjieZhou
 - Qiskit Coach: @asierarranz, @DanSerCan

# Deliverable
A working demo :-)

# GitHub repo

[2019-11-18 02:57] anedumla opened #32 "Improved Hamiltonian simulation"
# Abstract
The problem of Hamiltonian simulation can be described as, given a hermitian matrix H and a real number t, find a circuit for exp(iHt).

A widely used approach is to find a decomposition H = H_1 + H_2 +... + H_m such that we can find circuits for each exp(iH_j t), and then approximate exp(iHt) by a product of the exp(iH_j t) (i.e. by putting the smaller circuits in sequence) according t

[2019-11-18 03:10] anedumla commented on #20
Good to hear that! yes, of course, we can talk about it.

[2019-11-18 06:36] BryceFuller opened #33 "Implementing Quantum Natural Gradient Optimizer for Aqua"
![82981F19-5F06-4E8F-8F84-9B7180FA2AE2](https://user-images.githubusercontent.com/22630711/69107096-a44aa300-0ab3-11ea-8fdd-ab3959703a0b.png)

# Abstract
 A quantum version of the natural gradient was recently proposed [[Stokes et al]](https://arxiv.org/abs/1909.02108). There is reason to believe that the quantum natural gradient optimizer may outperform other optimizers. Let’s implement it and te

[2019-11-18 07:41] HermanniH commented on #24
https://arxiv.org/abs/quant-ph/0510031

There is also this quantum image compression algorithm that I found interesting. Not sure if it's been implemented.

[2019-11-18 09:34] 1ucian0 commented on #17
If you need to contact the coaches, please contact `@coaches` in `#qiskit-camp-asia` slack channel.

If you need help with qiskit installation or github/git, please contact `@support` in `#qiskit-camp-asia` slack channel.

[2019-11-18 10:15] HermanniH commented on #21
I am potentially interested in working on this

[2019-11-18 10:16] haroldlco commented on #24
Looks good! We can discuss the scope of the project later tonight or tomorrow morning!

[2019-11-18 10:20] HermanniH commented on #24
I dropped you a message on slack

[2019-11-18 10:28] Brogis1 commented on #21
Great, talk to me anytime if you want to talk more about it :)

[2019-11-18 10:51] Suikaba commented on #28
I'm studying theory of quantum programming language (for example, type systems), so interested in this topic.
However, I don't know what `pulse` module is doing.
Can I participate in this project ? ~~And if possible, are there some documents for studying `pulse` operations?~~ I noticed the paper's link. Thank you!

[2019-11-18 13:25] HermanniH commented on #21
Hey where are you?

[2019-11-18 13:57] makotonakai commented on #31
Hello, I'm Makoto Nakai from Japan and am so interested in this project.  Are there any references
(like papers) that you recommend me to read in advance so that I'll be comfortable with this topic?

By the way, I'm a (quantum) computer scientist and  I only have little knowledge about reinforcement learning.

[2019-11-18 14:02] #19 closed, assigned to nobody

[2019-11-18 14:16] nkanazawa1989 opened #34 "Create quantum state discriminator"
# Abstract

In OpenPulse framework, we support different types of quantum state readout format. Currently `level1` and `level2` measurements are available, and `level1` measurement returns raw integrated microwave signals in complex values (called IQ values) rather than conventional qubit state (0 or 1) - `level2`. Discriminator is a tool that converts those IQ values into qubit state, but officia

[2019-11-18 14:26] g-white opened #35 "Implementation and application of efficient state tomography using matrix product states"
# Abstract
In order for quantum device hardware to continue to improve, characterisation and benchmarking techniques need to stay ahead of the curve. State tomography is an example of device characterisation, checking that the intended final state at the end of a circuit is the one actually produced. A major limitation, however, is that the number of experiments required to produce the density mat

[2019-11-18 14:27] rraymondhp opened #36 "Efficient Quantum Tomography for Detecting Entanglement"
# Abstract

Suppose a salesman comes to you claiming that he has a 100-qubit quantum device that can create entanglement between all the qubits. How can you verify his claim? Surely, you can do quantum tomography, but that will be too expensive as up to now there is no more than full tomography for more than 10 qubits.

# Description

An excellent paper on **Quantum Overlapping Tomography** (https

[2019-11-18 14:29] rraymondhp commented on #35
Wow... I also posted a similar topic ...  https://github.com/qiskit-community/qiskit-camp-asia-19/issues/36

[2019-11-18 14:30] g-white commented on #35
Less than a minute apart as well haha. They would complement each other well though, because MPSs by nature don't allow for verification of highly entangled systems.

[2019-11-18 14:34] dacozai commented on #31
Hello, I am Li-Han, Chen from Taiwan. Also, I am interested in this topic. Is there any related papers/ articles that could help me to understand more about this quantum issue?!

I have little background in RL: dissertation - “Meta-Learning in Board Game” and RL course project in utilising DQN/ vanilla methods in a traffic light control problem.
Thank you!

[2019-11-18 14:34] rraymondhp commented on #35
I am not familiar with MPS but would love to learn about it from you tomorrow!

[2019-11-18 14:42] dacozai commented on #31
Hello, I am Li-Han, Chen from Taiwan. Likewise, I am interested in this topic and want to know any related papers that could help me to understand more about this quantum issue?!
Thank you.

My major is Computer Science. I have some experience in RL. My MSc dissertation is Meta-Learning in Board Game in Tensorflow 2.0 and a course project by using vanilla methods/ DQN/ DDQN in the traffic light co

[2019-11-18 14:47] CanonMukai opened #37 "Educational Quantum Game"
# Abstract

We implement Educational Quantum Game for beginners of quantum computing.

# Description

This game is a quiz game designed for beginner of quantum programming to teach and quantum state change how to use quantum gate. There are some fill-in-the-blank-type questions.
we want to combine the game with a shooting game finally.

# Members

 - @CanonMukai
 - @nasama
 - @Oishi-Mika
- Qiskit

[2019-11-18 14:54] ElePT commented on #24
Hey! I found a pretty interesting application for this project, sent it through Slack :)

[2019-11-18 15:58] trichdop opened #38 "Optimization for Reservoir Computing (A method of Neural Networks)"
# Abstract
Reservoir computing(RC) is a method of neural networks. The parameters to be optimized are between 0 and 1. Since the probability of the quantum states is always between 0 and 1. Therefore, the quantum computing might be very suitable to optimize the reservoir computing.

# Description
In reservoir computing, there are three matrices between input and output data, Win, W and Wout. The v

[2019-11-18 15:58] sorin-bolos opened #39 "Implement the 0/1 knapsack problem using a VQE"
# Abstract
Implement the "0/1 knapsack problem" using VQE/QAOA. The challenge is to find the Hamiltonian that encodes the problem to use in the VQE algorithm.

# Description
The 0/1 knapsack problem: Given a set of items, each with a weight and a value, determine the number of each item to include in a collection so that the total weight is less than or equal to a given limit and the total value i

[2019-11-18 16:08] trichdop commented on #38
Two papers of Reservoir Computing:
[1]Tian-You Cheng, Da-Ya Chou, Ching-Chuan Liu, Ya-Ju Chang, **Chii-Chang Chen***, "Optical Neural Networks Based on Optical Fiber-communication System," Neurocomputing vol. 364, p. 239, 2019.
[NEUCOMS0925231219310264-main.pdf](https://github.com/qiskit-community/qiskit-camp-asia-19/files/3859516/NEUCOMS0925231219310264-main.pdf)
[2] Meng-Hua Yen, Ding-Well Liu,

[2019-11-18 19:19] Rahps97 commented on #14
What about using Annealing? Like we have Dual Annealing in Classical Approach (Python), is it possible to add **Quantum Annealing** in Qiskit.  For example, In random unitary decomposition, it would be good to have Quantum Annealing for optimization.

[2019-11-18 20:16] geduardo opened #40 "Quantum Duel - Be the fastest draw in the Quantum West"
# Abstract

![Untitled-1](https://user-images.githubusercontent.com/48300381/69091144-fb1b9280-0a49-11ea-95b6-776f4ef5224c.png)

**Who is the fastest draw in the quantum west?**
Howdy partner! The idea of this project is to create a game that consists of a duel between two (potentially more) players that are given an initial and a final quantum state. The objective of the game is to build a circui

[2019-11-18 22:44] felixthomsen opened #41 "Add option to specify initial stabilizer state for Aer stabilizer simulator"
# Abstract
I think it would be useful to be able to specify an initial stabilizer state for the stabilizer simulator in order to be able to easily simulate surface codes.

# Members

 - @felixthomsen
 - @anandukmadhu
 - @robh2608

 - Qiskit Coach: @chriseclectic

# Deliverable

# GitHub repo

[2019-11-18 23:08] tambunanTop opened #42 "Basic Quantum Neural Networks"
# Abstract

Are neural networks applied to quantum computing? to do classification, or other things. This project aims to try the basic concepts of complex neural networks in quantum computing using Qiskit. "Complex" that used in this project is a complex number i. This complex neural network can learn multi-value input/output.

# Description

A classical neuron can learn only linearly-separable i

[2019-11-18 23:14] boschmitt commented on #3
:)

[2019-11-18 23:47] DPhyOmega commented on #21
I am also interested in this project but I'm not sure how much I can contribute. Where can I find you guys to discuss a bit more?

[2019-11-18 23:53] xkwei1119 commented on #35
this is an interesting project, if you apply MPS tomography on mixed states, do you expect to over- or under- estimate the state fidelity? my understanding is that MPS is an efficient representation for area-law entangled states, such GHZ states, ground state of 1d gapped systems, etc. it will be interesting to apply MPS tomography on GHZ states and compare with known metrics. I agree extension to

[2019-11-18 23:57] zhou-wenbin commented on #9
Hi, I am Wenbin, doing quantum information theory for my Ph.D. Me and three others are interested in creating an ising model to optimize the financial market, to be specific, we want to create an ising model that minimizes a portfolio risk given the expected return through DOcplex translator. There are other ising model already in the qiskit finance, however our issue is different from them all.
R

[2019-11-19 00:03] yamamoto-takahiro commented on #21
I'm really into this project and would like to know more about this subject. Could you share a copy of this ref paper?

Thank you.

[2019-11-19 00:15] amarchenkova commented on #31
I'm interested in this!

[2019-11-19 00:24] Brogis1 commented on #21
Great. I am now in Theatro, only guy with a qiskit baseball cap and all in black. Sitting on the left side, at the last table no 21. Talk anytime guys.

[2019-11-19 00:24] cocori-rs opened #43 "Ryoko: the quantum battle game!"
# Abstract
Let's build Othello, the black and white completion, in the quantum version. Starting with NxN board, as usual, two players (or teams) can put their disc on the board in either superposition form or one of the state, white or black. Moreover, instead of just put in the dice, you can do quantum operation too! e.g. Hadamard, CX, or funny custom quantum gate to deal with the amplitude of t

[2019-11-19 00:25] Brogis1 commented on #21
The paper can also be found on arxiv: https://arxiv.org/abs/1303.7207

[2019-11-19 00:28] amarchenkova commented on #28
I'm interested in this - Anastasia Marchenkova - Physicist

[2019-11-19 00:29] SaraM92 commented on #28
I am interested in this.
Sara Metwalli.
I am a Computer Engineer! :)

[2019-11-19 00:30] SaraM92 commented on #2
I am interested in this!

[2019-11-19 00:37] Supanut-Thanasilp commented on #21
I am interested in this project as well

[2019-11-19 00:39] boschmitt commented on #32
I'm in, Bruno Schmitt, Computer Scientist (:

[2019-11-19 00:39] ken-nakanishi commented on #14
I'd like to join this project!, Ken M. Nakanishi, Physics & Computer Science

[2019-11-19 00:41] huan-yu-20 commented on #9
Hi, I am in. My name is Huan-Yu Ku with room number 1303.

[2019-11-19 00:41] Yuya-O-Nakagawa commented on #14
I (Yuya Nakagawa, Physics) am also interested in the project, especially for the paper "Sequential minimal optimization for quantum-classical hybrid algorithms"

[2019-11-19 00:42] tehruhn commented on #9
Hi, I am Tarun, and I am in as well (room number 1293).

[2019-11-19 00:42] jean-philippe-arias-zapata commented on #24
Hey, interested by this project ! -- Jean Philippe Arias Zapata (physicist)

[2019-11-19 00:42] cocori-rs commented on #43
Ryosuke Satoh, Computer Science

[2019-11-19 00:42] ranaarp opened #44 "Quantum month challenge"
# Abstract
The idea is to create 3 questions from different business sectors where quantum computing is expected to be useful(Quantum chemistry, finance, etc) and to be solved using different algorithms for each(VQE for chemistry, Grover for a financial optimization question, etc. These are just suggestions). This'll help someone interested in knowing how Quantum Computing can be useful in their s

[2019-11-19 00:42] JRWSP commented on #43
I'm in, Jirawat Saiphet, Physics.

[2019-11-19 00:43] SamTonetto commented on #24
Hi, I'm Sam Tonetto. I'm pretty interested in this project! I am a physics grad student with some limited experience in computer science.

[2019-11-19 00:43] shaimayshah commented on #42
Seems interesting. I have no background in most of this, would I still be welcome?

[2019-11-19 00:43] PorametPat commented on #43
Poramet Pathumsoot, Physics.

[2019-11-19 00:44] wisit1995 commented on #43
I'm in, Wisit Sornkrue, Physics.

[2019-11-19 00:44] hoshitaro commented on #32
I'm in, Shintaro Niimura, I'm not sure what I should call myself,
but I have an optics background and I have a green sticker, may should have been yellow....

[2019-11-19 00:45] VivienVandaele commented on #13
I'm interested !
Vivien Vandaele, Computer science

[2019-11-19 00:45] Shedka commented on #24
Hello.

I find this project very interesting and I think it could have a practical application in a science research project of my own

Cities at Night aims to create a Google maps style map of the world at night using pictures from the astronauts onboard the ISS.

NASA has a repository with more than 1M pictures that need to be organized recognizing patterns of the cities.

I think we could devel

[2019-11-19 00:45] shaimayshah commented on #13
I'm interested!
Shaimay Shah, Computer Science/ Freelance

[2019-11-19 00:46] anedumla commented on #32
Great! :) I'm sitting at table 21 if you want to find me

[2019-11-19 00:46] chiayiju commented on #9
Hi, I'm in. My name is Chia-Yi Ju. I'm a physicist.

[2019-11-19 00:48] hoshitaro commented on #32
Thanks, I'll go there when everybody starts moving!

[2019-11-19 00:49] Qr4cl3 opened #45 "Interactive Bloch sphere"
# Abstract

The plot_bloch_sphere in Qiskit's visualization is hard to understand for people who new in the field of Quantum computing.
We have the idea that the interactive Bloch sphere in 3 dimensions should be easier to present the manipulation of Quantum gates to the Bloch vector.
The animation of the Bloch sphere may be included.

![image](https://user-images.githubusercontent.com/6150928/691

[2019-11-19 00:49] YouyuanS commented on #14
Great idea! (Youyuan Zhang, Quantum Chemistry, Physics)

[2019-11-19 00:50] arthurostrauss commented on #13
Wonderful! You can find me after pitches so I can explain the idea in more details!

[2019-11-19 00:52] Brogis1 commented on #12
Hi ! I am interested to talk to you anytime about the project ! I am at table 20 just in case.

[2019-11-19 00:53] AidanGG commented on #24
I'm interested in joining this project. My name is Aidan Dang and I am competent at physics, CS, software engineering and UX/Web design. You can learn more about me from my website https://www.aidan.gg/

[2019-11-19 00:53] teddy0819tw commented on #35
Excellent and interesting topic!
I am a postdoc at Univ. Tokyo with a background in experimental physics. I would like to participate in this project. I used to work on trapped-ion at Georgia Tech and now working on semiconductor spin qubit at Quantum Functional Research Group in RIKEN. Thanks!
Personal info: Chien-Yuan Chang, applied physics department at Univ. Tokyo.

[2019-11-19 00:54] yoooopeeee opened #46 "Solving Sudoku with Grover's Algorithm"
# Abstract

Sudoku is a logic-based, combinatorial number-placement puzzle. The objective is to fill a 9×9 grid with digits so that each column, each row, and each of the nine 3×3 subgrids that compose the grid (also called "boxes", "blocks", or "regions") contain all of the digits from 1 to 9.
In this project, we attempt to solve Sudoku efficiently with Grover's algorithm.

![image](https://user-

[2019-11-19 00:56] kumagaimasahito commented on #18
Hi! I usually study combinatorial optimization problems, so I think this topic is so familiar with me.
Can I take part in this group, as CS?

[2019-11-19 00:56] chriseclectic commented on #41
I can coach this project

[2019-11-19 00:58] martian17 commented on #18
I'm interested in this one CS major

[2019-11-19 00:58] kobashuu commented on #18
Hi! I'm undergraduate student from Tokyo. I'm beginner at qiskit but interested in optimization problems. Can I join in?

[2019-11-19 01:01] yamamoto-takahiro commented on #21
I'm in, Takahiro Yamamoto, Physicist.

[2019-11-19 01:01] g-white commented on #35
@xkwei1119 that's an interesting point, I would guess that it over-estimates but the verification procedure helps mitigate any bias like that; I would think that the state tomography on the reductions help but I'm not 100% sure. There should be a lot to explore!

[2019-11-19 01:04] asa-eagle commented on #18
@kumagaimasahito  of-course! you are welcome!
@martian17 @kobashuu everebody is welcome!

[2019-11-19 01:05] marinaaisa commented on #24
Hello! I'm Marina Aisa, a UX Engineer at IBM Qiskit community. I've worked in UX design and frontend development for websites interfaces for the last 6 years. I find this project very interesting and I would like to help you as a coach :) You can learn more about me from my website: https://marinaaisa.com/

[2019-11-19 01:08] manato438 commented on #18
Hello, I'm Manato Akiyama from Japan. I also interested in this topic! Can I join?

[2019-11-19 01:08] yk-nt commented on #18
I'm interested in this, I'm studying at quantum cryptography but I'm beginner at qiskit.  I want to join.

[2019-11-19 01:10] TRSasasusu commented on #40
I have interested in your project.
I have a experience to make multiplayer game with Node.js, so maybe I can work with you!

[2019-11-19 01:11] Yuya-O-Nakagawa commented on #21
I found the paper on arXiv https://arxiv.org/abs/1303.7207

[2019-11-19 01:11] starktech23 commented on #11
I'm in. Samanvay Sharma, Computer Science.

[2019-11-19 01:14] Brogis1 commented on #21
Come to the table 20 at the front ! I will present the stuff to everybody to make it clearer.

[2019-11-19 01:15] tjkea5 commented on #35
This sounds super interesting, I did some work on characterisation with MPSs during my honours research. Worked with the quantum information group at Monash uni in Melbourne so also have some experience with open systems formalisms. I'd certainly be interested in working on this project or even just having a chat!
Taylor Kearney

[2019-11-19 01:15] asa-eagle commented on #18
@manato438 @yukin07 sure!

[2019-11-19 01:19] felixthomsen commented on #25
I’m in, Felix Thomsen, Physics

[2019-11-19 01:19] mtreinish commented on #26
https://github.com/Qiskit/qiskit-terra/pull/3488 might be related to this

[2019-11-19 01:20] shaimayshah commented on #25
I have experience with Python but have a very limited idea of what exactly to do here. Would I still be welcome?

[2019-11-19 01:20] YutoMorohoshi commented on #42
Seems interesting.

I'm in, Yuto Takaki.
interested in physics.
1st in masters course.

[2019-11-19 01:21] rajchawit commented on #45
I'm Raj .. I'm in. and I'm Com Sci

[2019-11-19 01:22] geduardo commented on #40
Perfect!

[2019-11-19 01:24] shaimayshah commented on #31
I don't have prior experience with Machine Learning but this seems interesting.

[2019-11-19 01:24] yukidmy commented on #18
I'm a master student in CS field and a very beginner at qiskit.
I want to join this project but is it already full?

[2019-11-19 01:24] garymooney commented on #36
This one looks interesting to me. Gary Mooney, Quantum Physics and Computer Science.

[2019-11-19 01:24] Tanutk commented on #42
I am interested. I am Tanut Karnwai (Computer Scientist).

[2019-11-19 01:24] parton-quark commented on #28
I'm interested in this project. Shin Nishio, CS.

[2019-11-19 01:25] teddy0819tw commented on #25
I'm into more discussion! Chien-Yuan Chang, Applied Physics!

[2019-11-19 01:25] unchalisa commented on #40
I'm interested! I'm a computer scientist and can help with Python and a little of Qiskit.

[2019-11-19 01:25] hafizhkarim commented on #42
Join

[2019-11-19 01:26] taalexander commented on #28
Ok all interested, please find me and we can form a group :)

[2019-11-19 01:26] robh2608 commented on #41
I'm in

[2019-11-19 01:26] geduardo commented on #40
Cool! You can come to my table to talk! Left side looking to the screen. QUANTUM DUEL on the whiteboard

[2019-11-19 01:26] asierarranz commented on #31
The final goal will be writing a paper on this topic, so it is ok if there are no papers yet.

[2019-11-19 01:26] jukoyama commented on #37
I'm in, Juko Yamamoto, Computer Science

[2019-11-19 01:27] masamuch commented on #34
I'm interested this project! I'm Masahiko Saito, Physicist.

[2019-11-19 01:27] YutoMorohoshi commented on #42
Where is a leader?

[2019-11-19 01:27] nasama commented on #37
I'm in, Nasa Matsumoto, Computer Science

[2019-11-19 01:27] jsupasil commented on #8
I am interested.

[2019-11-19 01:27] Oishi-Mika commented on #37
I'm in , Mika Oishi, Computer Science

[2019-11-19 01:27] paulpaul60229 commented on #21
hi i am CHO, CHIEN-HUNG.i am interesting in it as well

[2019-11-19 01:27] coscoskoskos commented on #8
I'm interested in this project!

[2019-11-19 01:28] yudnk commented on #42
I'm interested in! Physics and elementary Quantum computation.

[2019-11-19 01:28] diego-plan9 commented on #42
@hafizhkarim and @yudnk can you post your full name, for easier assigning?

[2019-11-19 01:28] anandukmadhu commented on #41
I'm in, Anandu Kalleri Madhu, physicist.

[2019-11-19 01:29] yamamoto-takahiro commented on #21
Sorry not sure where is table 20.

[2019-11-19 01:29] itsuka021 commented on #32
I'm interesting in this project.
Physics student.
BaiSiang Ye

[2019-11-19 01:29] HirotaRina commented on #37
I'm in , Rina Hirota, Computer Science

[2019-11-19 01:29] Keisuke-Kato-1107 commented on #42
I'm interested in this project. Keisuke Kato, CS.

[2019-11-19 01:29] Rahps97 commented on #7
I am in, Rahul Pratap Singh. Physicist.

[2019-11-19 01:30] mf-22 commented on #11
I'm in. Masahiro Fujii, Computer Science.

[2019-11-19 01:30] #44 closed, assigned to nobody

[2019-11-19 01:31] ranaarp commented on #8
I'm interested too!

[2019-11-19 01:32] Keisuke-Kato-1107 commented on #46
I'm Keisuke Kato

[2019-11-19 01:32] zaki-joho commented on #46
I'm Hiroki Yamazaki.

[2019-11-19 01:32] haoyudoingthings commented on #32
Hi, I'm also interested in this project. Major in physics :)

[2019-11-19 01:33] IamMAI-TH commented on #7
I'm in!!
-paphon pewkhom

[2019-11-19 01:34] atsuyahasegawa commented on #20
My name is Atsuya Hasegawa. I am interested in it.

[2019-11-19 01:34] Oishi-Mika commented on #37
I'm in , Mika Oishi, Computer Science

[2019-11-19 01:34] CanonMukai commented on #37
I'm in, Canon Mukai, Computer Science

[2019-11-19 01:34] LacioO commented on #7
Hi, I'm Ryoga Araki. I'm from Mie University in Japan. I want join this project!

[2019-11-19 01:34] kifumi commented on #45
Hi, I'm in as a coach.

[2019-11-19 01:35] garymooney commented on #41
I'm interested, I'd like to further chat about this. Gary Mooney, Quantum Physics and Computer Science.

[2019-11-19 01:35] YU-ZU commented on #20
I’m in

[2019-11-19 01:35] kentarotamura612 commented on #46
Hello, my name is Kentaro Tamura, and I am a Master's student majoring in applied physics.
I'm interested in solving sudoku. May I join?

[2019-11-19 01:35] y4izus commented on #18
Sorry, this group is already full, we should confirmed that the people already assigned is still interested on be part of this project before add anyone else

[2019-11-19 01:36] Naphann commented on #8
I'm Naphan Benchasattabuse. I'm in :)

[2019-11-19 01:36] tehruhn commented on #36
I am interested. Tarun Raheja, Computer Science.

[2019-11-19 01:37] SamTonetto commented on #31
Hi, I would be interested in doing this! - Sam

[2019-11-19 01:37] IamMAI-TH commented on #7
FYI our table is on the front most - right side

[2019-11-19 01:37] trichdop commented on #14
Hi, I am Chii-Chang Chen, Professor in Department of Optics and Photonics, National Central University in Taiwan. I am interested to your algorithm optimization of VQE.

[2019-11-19 01:37] sitong1011 commented on #31
I am in, Liu Sitong, computer science.

[2019-11-19 01:38] chiayiju commented on #36
I'm in. I'm Chia-Yi Ju, a physicist.

[2019-11-19 01:38] perrychen0417 commented on #6
I am Pin-Fang Chen. I am from National Taiwan University. I have interest in your pitch.

[2019-11-19 01:38] tehruhn commented on #9
I am considering moving to another project, and have unassigned myself.

[2019-11-19 01:38] huan-yu-20 commented on #36
I am interested. Huan-Yu, Physics.

[2019-11-19 01:38] YinjieZhou commented on #31
i'm ZHOU YINJIE ,my major is computer science

[2019-11-19 01:39] #1 closed, assigned to nobody

[2019-11-19 01:39] Ayumu-walker commented on #46
I am Ayumu Shiraishi.

[2019-11-19 01:40] t-imamichi commented on #14
The table is in the middle line.

[2019-11-19 01:41] makotonakai commented on #31
Shaimay sorry. This group got the maximum number of members.
Go find another project.

[2019-11-19 01:41] r1t0o0 commented on #16
It sounds interesting to me, count me in

[2019-11-19 01:43] aq29287p commented on #25
i'm interested! I-CHUN HSU , Physics.

[2019-11-19 01:43] rraymondhp commented on #36
Will add you all, thanks!

[2019-11-19 01:43] zhou-wenbin commented on #36
I am in. I am wenbin, I am doing entanglement theory

[2019-11-19 01:44] jsupasil commented on #8
@coscoskoskos we already have a table. You may come to join us :)

[2019-11-19 01:44] garymooney commented on #36
I can't seem to find you, where abouts are you in the room?

[2019-11-19 01:44] rraymondhp commented on #36
i am in front..

[2019-11-19 01:44] rraymondhp commented on #36
next to luciano

[2019-11-19 01:45] boschmitt commented on #4
I would be interested in this if not killed.
Bruno Schmitt, Computer Scientist (:

[2019-11-19 01:45] boschmitt commented on #6
I would be interested in this if not killed.
Bruno Schmitt, Computer Scientist (:

[2019-11-19 01:45] kifumi commented on #37
I'm in as a Coach.

[2019-11-19 01:46] martian17 commented on #20
I'm interested in this! Computer science major

[2019-11-19 01:46] trichdop commented on #31
Hi, I am Chii-Chang Chen. I am professor from the Department of Optics and Photonics, National Central University, Taiwan. I have experience of Machine Learning. I am interested in joining your team.

[2019-11-19 01:46] dongsin-kim commented on #39
I'm interested in the issue-! :-)

[2019-11-19 01:47] burgholzer commented on #4
I'm in, Lukas Burgholzer, CS

[2019-11-19 01:47] R07222062 commented on #39
I'd like to participate in this project.

[2019-11-19 01:47] martian17 commented on #20
I'm in

[2019-11-19 01:47] HartwigB commented on #4
I'm in, Hartwig Bauer, CS

[2019-11-19 01:47] trichdop commented on #31
Hi, I am Chii-Chang Chen. I am professor from the Department of Optics and Photonics, National Central University, Taiwan. I have experience of Machine Learning. I am interested in joining your team.

[2019-11-19 01:47] tehruhn commented on #36
We can't find you. We're at the table nearest to the entrance, to the left. We just walked by the stage and missed you.

[2019-11-19 01:48] fvarchon commented on #17
Some people have problem installing qiskit with python 3.8.
Our recommendation is to installed it with python 3.7

[2019-11-19 01:48] ntanetani commented on #24
I'm in. My name is Nozomi Tanetani

[2019-11-19 01:48] AidanGG commented on #35
I'll join this project: Aidan Dang, Physics, CS and UX/Web.

[2019-11-19 01:48] #22 closed, assigned to nobody

[2019-11-19 01:49] zhou-wenbin commented on #9
I am unassigned also

[2019-11-19 01:49] rum-yasuhiro commented on #25
@chriseclectic Where are you now? I'm interested in this project...

[2019-11-19 01:49] ylchen0918 commented on #39
Interesting

[2019-11-19 01:49] yoheiwaka commented on #40
i'm interested! I'm a computer scientist but I 'm beginner of python and Qiskit.

[2019-11-19 01:50] masamuch commented on #32
Hi, I'm Masahiko Saito, physicist. I'm interested in this project, and want to join if the project #34 is closed.

[2019-11-19 01:51] xenoicwyce commented on #8
I'm interested. I'm Lee Xin Wei.

[2019-11-19 01:52] #34 closed, assigned to nobody

[2019-11-19 01:52] platoru commented on #20
I am interested in this issue.

[2019-11-19 01:53] pedrofigueroarom commented on #25
I'm in, Pedro Figueroa; Monash Uni, Melbourne - Physics

[2019-11-19 01:54] geduardo commented on #40
https://github.com/geduardo/Quantum-Duel--QISKITCAMPASIA/invitations

[2019-11-19 01:55] hillmich commented on #23
Stefan Hillmich, CS

[2019-11-19 01:55] #33 closed, assigned to nobody

[2019-11-19 01:55] kurarrr commented on #23
Ryota Yonekura, CS

[2019-11-19 01:55] #5 closed, assigned to nobody

[2019-11-19 01:56] #45 closed, assigned to nobody

[2019-11-19 01:57] #29 closed, assigned to nobody

[2019-11-19 01:57] #27 closed, assigned to nobody

[2019-11-19 01:57] chriseclectic commented on #25
@rum-yasuhiro We are near the door

[2019-11-19 01:58] #26 closed, assigned to nobody

[2019-11-19 01:58] Qr4cl3 commented on #6
I'm in. My name is Warat Puengtambol. I'm a Computer Scientist

[2019-11-19 01:58] #15 closed, assigned to nobody

[2019-11-19 01:58] rajchawit commented on #6
I'm Rajchawit, I'm in! I'm Computer Scientist

[2019-11-19 01:59] #38 closed, assigned to nobody

[2019-11-19 02:00] trichdop commented on #42
Hi, I am Chii-Chang Chen. I am professor from the Department of Optics and Photonics, National Central University, Taiwan. I have experience of Machine Learning. I am interested in joining your team.

[2019-11-19 02:00] #12 closed, assigned to nobody

[2019-11-19 02:00] #2 closed, assigned to nobody

[2019-11-19 02:04] hillmich commented on #6
Stefan Hillmich, CS

[2019-11-19 02:04] FumiakiAzegami commented on #18
Will join

[2019-11-19 02:04] Tanutk opened #47 "Controlled time evolution on NISQ devices"
# Abstract
Quantum dynamics simulation is one of the most interesting target in NISQ devices.
In this project, our aim is to construct control-time evolution operator by the relatively shallow quantum circuit by extending VQE like method.

# Description

# Members

1)  Kentaro Heya
2) Risa Segawa

 - Team Member - Slack: `@kentaro heya` & `@Risa Segawa`
 - Qiskit Coach: `@Toshinari Itoko` & `@Tanu

[2019-11-19 02:04] #10 closed, assigned to nobody

[2019-11-19 02:04] kurarrr commented on #6
Ryota Yonekura, CS

[2019-11-19 02:05] #23 closed, assigned to nobody

[2019-11-19 02:05] rum-yasuhiro commented on #25
I'm in this group, Yasuhiro Ohkura Computer Science.

[2019-11-19 02:07] #9 closed, assigned to zhou-wenbin

[2019-11-19 02:07] heyaroom commented on #47
test

[2019-11-19 02:07] hotaru-ngc commented on #47
test

[2019-11-19 02:07] kumagaimasahito opened #48 "Eternity II puzzle by beginners"
# Abstract
We are derived by #18 group

# Description
See issue #18

# Members

 - @kobashuu
 - @yukiymd
 - @kumagaimasahito
 - Qiskit Coach: @ xkwei1119

# Deliverable

# GitHub repo
Code: https://github.com/kumagaimasahito/Eternity
Slide:  https://speakerdeck.com/yukiymd/eternity-ii-puzzle-by-beginners-qiskit-camp-asia-2019

[2019-11-19 02:08] kobashuu commented on #48
お願いします。

[2019-11-19 02:08] yukidmy commented on #48
I'm in :) Yuki Yamada, CS student

[2019-11-19 02:10] atilag commented on #48
@kobashuu are you in?

[2019-11-19 02:11] MagdaliniZonnios commented on #35
I'm interested in joining this group - Magdalini Zonnios, physicist.

[2019-11-19 02:12] yukidmy commented on #48
@1ucian0 Could you reopen this and add @kumagaimasahito, @kobashuu and me as assignees?

[2019-11-19 02:12] #11 closed, assigned to starktech23, mf-22

[2019-11-19 02:14] starktech23 commented on #35
I'm interested. Samanvay Sharma, Computer Science.

[2019-11-19 02:15] mf-22 commented on #35
I'm in. Masahiro Fujii, Computer Science.

[2019-11-19 02:15] BryceFuller commented on #35
I’ll mentor - Bryce Fuller

[2019-11-19 02:16] kobashuu commented on #48
Yes, I’m in.
2019年11月19日 11:10 +0900、Juan Gomez <notifications@github.com> のメール:

[2019-11-19 02:16] JavaFXpert opened #49 "Create series of escape rooms in QiskitBlocks (group 2)"
# Abstract
See issue #7

# Description
See issue #7

# Members
See issue #7

 - @JavaFXpert

# Deliverable
See issue #7

# GitHub repo
See issue #7

[2019-11-19 02:17] r1t0o0 commented on #16
@1ucian0  please assign me to this group

[2019-11-19 02:17] hhorii commented on #6
A way to setup build environment of qiskit-aer: https://github.com/Qiskit/qiskit-aer/blob/master/CONTRIBUTING.md#install-from-source

[2019-11-19 02:18] BOBO1997 commented on #16
@1ucian0 please add me to this group, thank you!

[2019-11-19 02:22] kobashuu commented on #48
It seems that @kobashuu and @kumagaimasahito is not assingned

[2019-11-19 02:24] starktech23 commented on #16
interested. Samanvay Sharma, Computer Science.

[2019-11-19 02:24] mf-22 commented on #16
Masahiro Fujii, Computer science

[2019-11-19 02:26] Naphann commented on #8
- This is the [link to our GDoc](https://docs.google.com/document/d/1Ks_zMr7djmmHHNIZ3Ily6Os0vDXt55hRnJR_nLzj0JY/edit?usp=sharing) for ideas.
- This is the [link to presentation](https://docs.google.com/presentation/d/1M7gIDHblB7y17j2_xkCfoIFDYm44M2kvS5RirEX7_D4/edit?usp=sharing)

[2019-11-19 02:29] HuangCheChun commented on #49
Hello, I just join in.

[2019-11-19 02:29] hoshitaro commented on #32
https://github.com/hoshitaro/-32-Improved-Hamiltonian-Simulation

[2019-11-19 02:30] MengChienWang commented on #49
Hello, I just join in, my name is Meng-Chien Wang

[2019-11-19 02:32] atilag commented on #47
I'm your coach!

[2019-11-19 02:33] xkwei1119 commented on #48
is this group still looking for members?

[2019-11-19 02:35] hhorii commented on #6
Current fusion: https://github.com/Qiskit/qiskit-aer/blob/master/src/transpile/fusion.hpp#L325-L365

[2019-11-19 02:36] t-imamichi commented on #14
tutorials https://nbviewer.jupyter.org/github/Qiskit/qiskit-iqx-tutorials/blob/master/qiskit/1_start_here.ipynb
chemistry tutorials https://nbviewer.jupyter.org/github/Qiskit/qiskit-iqx-tutorials/blob/master/qiskit/advanced/aqua/chemistry/index.ipynb

[2019-11-19 02:36] t-imamichi commented on #14
aqua optimizers https://github.com/Qiskit/qiskit-aqua/tree/master/qiskit/aqua/components/optimizers

[2019-11-19 02:42] martian17 commented on #20
https://github.com/martian17/qiskit-graph-coloring

[2019-11-19 02:43] BOBO1997 commented on #16
BOBO1997, Yang Bo, Computer Science

[2019-11-19 02:45] r1t0o0 commented on #16
Yu GUO, Computer Science, familiar with classical algorithm

[2019-11-19 02:45] abtmy commented on #16
abtmy, Tomoya Abe, computer science

[2019-11-19 02:55] TsungWei1216 commented on #49
I just join in.

[2019-11-19 02:55] JoeJhan commented on #49
hi, i am shun-jhou, master student of physics from Taiwan

[2019-11-19 02:56] awoo001 commented on #49
i am in

[2019-11-19 02:56] atsuyahasegawa commented on #20
https://www.geeksforgeeks.org/edge-coloring-of-a-graph/

[2019-11-19 03:04] JavaFXpert commented on #49
I am in

[2019-11-19 03:09] TRSasasusu commented on #40
https://quantum-duel.herokuapp.com/

[2019-11-19 03:12] AidanGG commented on #35
Our repo is found at https://github.com/AidanGG/mps_tomo

[2019-11-19 03:13] asierarranz opened #50 "Educational Quantum Game 2"
# Abstract
We implement Educational Quantum Game for beginners of quantum computing.

# Description
This game is a quiz game designed for beginner of quantum programming to teach and quantum state change how to use quantum gate. There are some fill-in-the-blank-type questions.
we want to combine the game with a shooting game finally.

# Members

 - @bijing02

- @jukoyama

- @HirotaRina

 - Qiskit

[2019-11-19 03:14] bijing02 commented on #50
Hi dear, I am Bi Jing, I am joining in this group

[2019-11-19 03:19] HirotaRina commented on #50
RIna

[2019-11-19 03:22] jukoyama commented on #50
Juko

[2019-11-19 03:25] kifumi commented on #50
I'm in as a coach.

[2019-11-19 03:29] xkwei1119 commented on #48
i can join as a coach

[2019-11-19 03:29] Naphann commented on #8
[The repo](https://github.com/Naphann/Solving-TSP-Grover)

Also for the adder, I think we can use [this](https://github.com/Qiskit/openqasm/blob/master/examples/generic/adder.qasm)

[2019-11-19 03:35] 1ucian0 commented on #47
@Tanutk is the coach for this team!

[2019-11-19 03:39] t-imamichi commented on #14
https://github.com/Qiskit/qiskit-community-tutorials/blob/master/chemistry/LiH_with_qubit_tapering_and_uccsd.ipynb

[2019-11-19 03:45] 1ucian0 commented on #28
is @taalexander the coacher of this group?

[2019-11-19 03:48] hhorii commented on #23
Merged to #6

[2019-11-19 04:01] 1ucian0 commented on #48
I think @asa-eagle is the coach. I'm not fully sure

[2019-11-19 04:05] taalexander commented on #28
yes and @maikatakita

[2019-11-19 04:15] Tanutk commented on #47
Hi ,@1ucian0
Yes, I am helping.

[2019-11-19 04:16] martian17 commented on #20
https://gist.github.com/martian17/865336f906f0778e942f8488ae2b337c

[2019-11-19 04:27] Naphann commented on #8
[This paper](https://arxiv.org/pdf/1508.03273.pdf) explains in details how to implement a better MCT than the qiskit ones

[2019-11-19 06:00] xenoicwyce commented on #8
https://medium.com/mdr-inc/checking-the-unitary-matrix-of-the-quantum-circuit-on-qiskit-5968c6019a45

[2019-11-19 06:27] 1ucian0 commented on #17
seems slack is being a better way to solve tech issues... closing it for now.

[2019-11-19 06:27] #17 closed, assigned to veenaiyuri, fvarchon, Matt-Stypulkoski, dennis-liu-1

[2019-11-19 06:44] 1ucian0 commented on #25
it seems that @mf-22 is also in this group

[2019-11-19 06:46] mf-22 commented on #25
I'm in. Masahiro Fujii, computer science

[2019-11-19 06:47] 1ucian0 commented on #47
This group has only two members, exceptionally.

[2019-11-19 06:50] t-imamichi commented on #14
https://qiskit.org/documentation/apidoc/aqua/algorithms/algorithms.html#qiskit.aqua.algorithms.VQE

[2019-11-19 06:58] t-imamichi commented on #14
https://nbviewer.jupyter.org/github/Qiskit/qiskit-iqx-tutorials/blob/master/qiskit/advanced/aqua/chemistry/programmatic_approach.ipynb
[8]

[2019-11-19 07:01] t-imamichi commented on #14
https://nbviewer.jupyter.org/github/Qiskit/qiskit-iqx-tutorials/blob/master/qiskit/advanced/aqua/optimization/max_cut_and_tsp.ipynb
[10]

[2019-11-19 09:02] Matt-Stypulkoski commented on #17
Documenting issue that came up

1. `pip install qiskit` completes successfully
2. `import qiskit` fails, throws `ImportError: cannot find module named <module_name>`
3. <module_name> is shown in `pip list` and successfully installs if we try to pip install it
4. After looking in the `site-packages` folder, we do not see the actual module's folder, only see the .dist folder for that module
5. After

[2019-11-19 09:16] Yuya-O-Nakagawa commented on #14
@t-imamichi callback function works! :)

[2019-11-19 09:52] t-imamichi commented on #14
FYI: dinner is ready

[2019-11-19 11:06] t-imamichi commented on #14
noise model https://github.com/Qiskit/qiskit-iqx-tutorials/blob/master/qiskit/advanced/aer/3_building_noise_models.ipynb
QuantumInstance accepts noise model as a parameter https://qiskit.org/documentation/api/qiskit.aqua.QuantumInstance.html#qiskit.aqua.QuantumInstance

[2019-11-20 00:43] xenoicwyce commented on #8
https://algassert.com/quirk

[2019-11-20 01:09] DanSerCan commented on #31
[Anim_vid.zip](https://github.com/qiskit-community/qiskit-camp-asia-19/files/3866785/Anim_vid.zip)

[2019-11-20 02:31] t-imamichi commented on #14
[code]

[2019-11-20 02:54] coscoskoskos commented on #8
2019年11月20日(水) 9:44 xenoicwyce <notifications@github.com>:

[2019-11-20 04:07] ken-nakanishi commented on #14
Our code is here! https://github.com/Qiskit/qiskit-aqua/pull/729

[2019-11-20 04:12] asa-eagle commented on #18
This is our code
(Including some result so it takes a while to open it..)
https://github.com/asa-eagle/eternity/blob/master/eternity2_sampling_result7.ipynb

[2019-11-20 04:16] zaki-joho commented on #46
link to the code we have been developing
https://github.com/yoooopeeee/grover_sudoku

[2019-11-20 04:20] hillmich commented on #6
**Code 1/2: Qiskit Aer**
Repo: https://github.com/kurarrr/qiskit-aer
PR: https://github.com/Qiskit/qiskit-aer/pull/456

[2019-11-20 04:29] boschmitt commented on #4
Code in https://github.com/boschmitt/qiskit-terra

Two branches (different approaches):
- maxSAT_layout
- burgholzer

[2019-11-20 04:38] DanSerCan commented on #31
[Anim_vid_white.zip](https://github.com/qiskit-community/qiskit-camp-asia-19/files/3867339/Anim_vid_white.zip)

[2019-11-20 04:49] yudnk commented on #42
https://github.com/YudNK/quantum_neural_network

[2019-11-20 04:50] makotonakai commented on #31
https://github.com/dacozai/QuantumDeepAdvantage

[2019-11-20 04:50] amarchenkova commented on #28
Code: https://github.com/SaraM92/qiskit-terra

[2019-11-20 04:51] geduardo commented on #40
Github link: https://github.com/geduardo/Quantum-Duel--QISKITCAMPASIA

[2019-11-20 04:52] VivienVandaele commented on #13
Link to the code : https://github.com/VivienVandaele/Quantum-Global-Public-Goods-Game

[2019-11-20 04:54] Qr4cl3 commented on #6
**Code 2/2: Benchmark**
Repo: https://github.com/Qr4cl3/Iqb_n_p
PR: https://github.com/Qiskit/qiskit/pull/698

[2019-11-20 04:55] tehruhn commented on #36
https://github.com/tehruhn/quantum-overlapping-tomo
(Description in README)

[2019-11-20 04:55] asa-eagle commented on #18
Updated the code
https://github.com/asa-eagle/eternity/blob/master/eternity2_sampling_result8.ipynb

[2019-11-20 04:57] anandukmadhu commented on #41
https://github.com/robh2608/QiskitCamp41/blob/master/StabiliserExamplePresentation.ipynb

[2019-11-20 04:58] Brogis1 commented on #21
GitHub Repo:
https://github.com/Brogis1/qiskit-aqua
the code can be found in the qiksit-aqua/qiskit/chemistry
It consists of 3 python files: orbital_mutual_information.py plot_mutual_information.py and run_orbital_mutual_information.py
To run the code just execute:  run_orbital_mutual_information.py
It will run a VQE to find the ground state. From the ground state evalutate the mutual information

[2019-11-20 05:00] TRSasasusu commented on #40
Server code and frontend code in https://github.com/geduardo/Quantum-Duel--QISKITCAMPASIA

[2019-11-20 05:00] Naphann commented on #8
https://github.com/Naphann/Solving-TSP-Grover
The Repo I put it here again

[2019-11-20 05:01] kumagaimasahito commented on #48
This is our code.
https://github.com/kumagaimasahito/Eternity/blob/master/eternity_group2.ipynb

[2019-11-20 05:01] jukoyama commented on #50
my link https://github.com/jukoyama/qiskit-board/tree/master

[2019-11-20 05:05] JoeJhan commented on #49
![1](https://user-images.githubusercontent.com/57923168/69210430-b6047700-0b95-11ea-90e6-d61fa1424b62.png)
![2](https://user-images.githubusercontent.com/57923168/69210477-d46a7280-0b95-11ea-86bb-08ed81101575.png)
![3](https://user-images.githubusercontent.com/57923168/69210482-d9c7bd00-0b95-11ea-82a3-8bbf11a7e15b.png)
![4](https://user-images.githubusercontent.com/57923168/69210489-de8c7100-0b95-

[2019-11-20 05:05] rum-yasuhiro commented on #25
https://github.com/rum-yasuhiro/leakage_rb

[2019-11-20 05:06] yoheiwaka commented on #40
Github: https://github.com/geduardo/Quantum-Duel--QISKITCAMPASIA

[2019-11-20 05:15] ace314 commented on #16
https://github.com/ace314/Quantum-Multi-collision-Problem

[2019-11-20 06:58] Rahps97 commented on #7
[Quantum escape rooms.pptx](https://github.com/qiskit-community/qiskit-camp-asia-19/files/3867758/Quantum.escape.rooms.pptx)

[2019-11-20 06:59] Rahps97 commented on #7
Video

[2019-11-20 07:01] YouyuanS commented on #14
[Issue#14.pdf](https://github.com/qiskit-community/qiskit-camp-asia-19/files/3867761/Issue.14.pdf)

[2019-11-20 07:03] Rahps97 commented on #7
code
https://drive.google.com/file/d/1KjmvBtFyHN1JNLEYnz-5ZoFnYHyBGxqB/view?usp=sharing

[2019-11-20 07:07] hillmich commented on #6
[Qiskit Camp Asia - Team #6.pdf](https://github.com/qiskit-community/qiskit-camp-asia-19/files/3867774/Qiskit.Camp.Asia.-.Team.6.pdf)

[2019-11-20 07:08] burgholzer commented on #4
[final_presentation.pptx](https://github.com/qiskit-community/qiskit-camp-asia-19/files/3867788/final_presentation.pptx)

[2019-11-20 07:15] rum-yasuhiro commented on #25
This is the link of my repository with code and presentation both are the ipynb file.

[2019-11-20 07:27] Rahps97 commented on #7
video
https://drive.google.com/file/d/1KjmvBtFyHN1JNLEYnz-5ZoFnYHyBGxqB/view?usp=sharing

[2019-11-20 07:50] amarchenkova commented on #28
Presentation: https://docs.google.com/presentation/d/1Y4ky9AYUzQBBoQ2x40uxgn7gFhfaYZFE7FqWlSXZ16A/edit?usp=sharing

[2019-11-20 07:51] asa-eagle commented on #18
Our presentation
https://github.com/asa-eagle/eternity/blob/master/presentation.pdf

[2019-11-20 07:51] Naphann commented on #8
This is [the slides](https://docs.google.com/presentation/d/1M7gIDHblB7y17j2_xkCfoIFDYm44M2kvS5RirEX7_D4/edit?usp=sharing) we used for our presentations

[2019-11-20 07:51] yukidmy commented on #48
Slide: https://speakerdeck.com/yukiymd/eternity-ii-puzzle-by-beginners-qiskit-camp-asia-2019

[2019-11-20 07:52] JoeJhan commented on #49
![7](https://user-images.githubusercontent.com/57923168/69219429-c4f72380-0bad-11ea-9316-3000bb751f09.png)

[2019-11-20 07:53] yoooopeeee commented on #46
[Solving Sudoku with Grover's Algorithm.pptx](https://github.com/qiskit-community/qiskit-camp-asia-19/files/3867934/Solving.Sudoku.with.Grover.s.Algorithm.pptx)

[2019-11-20 07:54] SamTonetto commented on #31
Hi, this is a link to the presentation:
https://docs.google.com/presentation/d/1jUDwWpY21Ls_UcvDJyWB6moKoEcdveZcAeZRvzKlvSY/edit?usp=sharing

[2019-11-20 07:55] sorin-bolos commented on #39
Presentation https://github.com/sorin-bolos/QiskitCampAsia2019/blob/master/knapsack_%2339_FINAL.pdf

[2019-11-20 14:08] 1ucian0 commented on #3
@qcamp join

[2019-11-20 14:10] 1ucian0 commented on #3
@qcamp join

[2019-11-20 14:16] 1ucian0 commented on #3
@qcamp join

[2019-11-20 14:17] 1ucian0 commented on #3
@qcamp join

[2019-11-20 14:19] 1ucian0 commented on #3
@qcamp join

[2019-11-21 00:43] 1ucian0 commented on #3
unrelated

[2019-11-22 11:31] parton-quark commented on #28
Video(presentation):
https://youtu.be/duVMwBD9liM

[2019-11-25 20:57] qcamp commented on #3
Hi @{self.participant.handler}! I could not add you to this group because you are already in #{current}. If you want to change teams, unassign yourself from #{self.group.number} and write me again here.

[2019-11-25 21:00] qcamp commented on #3
Hi @1ucian0! I could not add you to this group because you are already in #4. If you want to change teams, unassign yourself from #3 and write me again here.

[2019-11-25 21:04] qcamp commented on #3
Hi @1ucian0! I could not add you to this group because you are already in #4. If you want to change teams, unassign yourself from #4 and write me again here.

[2019-11-25 21:55] qcamp commented on #3
Hi @1ucian0! I could not add you to this group because its full.

[2019-11-25 22:16] qcamp commented on #3
Hi @1ucian0! I could not add you to this group because its full.

[2019-11-25 22:16] qcamp commented on #3
Hi @1ucian0! I could not add you to this group because its full.

[2019-11-25 22:17] qcamp commented on #3
Hi @1ucian0! I could not add you to this group because its full.

[2019-11-25 22:17] qcamp commented on #3
Hi @1ucian0! I could not add you to this group because its full.

[2019-11-25 22:18] qcamp commented on #3
Hi @1ucian0! I could not add you to this group because its full.

[2019-11-25 22:18] qcamp commented on #3
Hi @1ucian0! I could not add you to this group because you are already in #[1m#4[0m. If you want to change teams, unassign yourself from #[1m#4[0m and write me again here.

[2019-11-25 22:23] qcamp commented on #3
Hi @1ucian0! I could not add you to this group because its closed.

[2019-11-25 22:27] qcamp commented on #3
Hi @1ucian0! I could not add you to this group because you are already in #4. If you want to change teams, unassign yourself from #4 and write me again here.

[2019-11-25 22:30] qcamp commented on #3
Hi @1ucian0! I could not add you to this group because you are already in #4. If you want to change teams, unassign yourself from #4 and write me again here.

[2019-11-25 22:48] qcamp commented on #3
Hi @1ucian0! I could not add you to this group because you are already in #4. If you want to change teams, unassign yourself from #4 and write me again here.

[2019-11-25 22:48] qcamp commented on #3
Hi @1ucian0! I could not add you to this group because you are already in #4. If you want to change teams, unassign yourself from #4 and write me again here.

[2019-11-25 22:51] qcamp commented on #3
Hi @1ucian0! I could not add you to this group because you are already in #4. If you want to change teams, unassign yourself from #4 and write me again here.

[2019-11-25 22:51] qcamp commented on #3
Hi @1ucian0! I could not add you to this group because you are already in #4. If you want to change teams, unassign yourself from #4 and write me again here.

[2019-11-25 22:55] qcamp commented on #3
Hi @1ucian0! I could not add you to this group because you are already in #4. If you want to change teams, unassign yourself from #4 and write me again here.

[2019-11-25 22:55] qcamp commented on #3
Hi @1ucian0! I could not add you to this group because you are already in #4. If you want to change teams, unassign yourself from #4 and write me again here.

[2019-11-25 23:00] qcamp commented on #3
Hi @1ucian0! I could not add you to this group because you are already in #4. If you want to change teams, unassign yourself from #4 and write me again here.

[2019-11-25 23:00] qcamp commented on #3
Hi @1ucian0! I could not add you to this group because you are already in #4. If you want to change teams, unassign yourself from #4 and write me again here.

[2019-11-25 23:08] qcamp commented on #3
Hi @1ucian0! I could not add you to this group because you are already in #4. If you want to change teams, unassign yourself from #4 and write me again here.

[2019-11-25 23:09] qcamp commented on #3
Hi @1ucian0! I could not add you to this group because you are already in #4. If you want to change teams, unassign yourself from #4 and write me again here.

[2019-11-25 23:14] qcamp commented on #3
Hi @1ucian0! I could not add you to this group because you are already in #4. If you want to change teams, unassign yourself from #4 and write me again here.

[2019-11-25 23:16] qcamp commented on #3
Hi @1ucian0! I could not add you to this group because you are already in #4. If you want to change teams, unassign yourself from #4 and write me again here.

[2019-11-25 23:20] qcamp commented on #3
Hi @1ucian0! I could not add you to this group because you are already in #4. If you want to change teams, unassign yourself from #4 and write me again here.

[2019-11-25 23:24] qcamp commented on #3
Hi @1ucian0! I could not add you to this group because you are already in #4. If you want to change teams, unassign yourself from #4 and write me again here.

[2019-11-25 23:26] qcamp commented on #3
Hi @1ucian0! I could not add you to this group because you are already in #4. If you want to change teams, unassign yourself from #4 and write me again here.

[2019-11-26 01:50] qcamp commented on #3
Hi @1ucian0! I could not add you to this group because you are already in #4. If you want to change teams, unassign yourself from #4 and write me again here.

[2019-11-29 20:36] 1ucian0 commented on #3
@qcamp

[2019-11-29 20:36] qcamp commented on #3
Hi @1ucian0! I could not add you to this group because you are already in #4. If you want to change teams, unassign yourself from #4 and write me again here.

[2019-11-29 20:37] 1ucian0 commented on #3
@qcamp

[2019-11-29 20:44] 1ucian0 commented on #3
@qcamp

[2019-11-29 20:45] 1ucian0 commented on #3
@qcamp

[2019-11-29 20:46] qcamp commented on #3
Hi @1ucian0! I could not add you to this group because it is closed.

[2019-11-29 20:49] qcamp commented on #4
@qcamp

[2019-11-29 20:50] 1ucian0 commented on #4
@qcamp

[2019-11-30 20:51] 1ucian0 opened #51 "new Project name"
# Abstract

# Description

# Members

 - @githubhandle
 - @githubhandle - Slack: `@slackhandle` email: `example@example.com`
 - Qiskit Coach: @githubhandle

# Deliverable

# GitHub repo

[2019-11-30 20:51] 1ucian0 commented on #51
@qcamp

[2019-11-30 20:51] qcamp commented on #51
Hi @1ucian0! I could not add you to this group because you are already in #4. If you want to change teams, unassign yourself from #4 and write me again here.

[2019-11-30 20:52] 1ucian0 commented on #51
@qcamp

[2019-11-30 21:07] 1ucian0 commented on #51
@qcamp

[2019-11-30 21:07] qcamp commented on #51
Hi @1ucian0! I could not add you to this group because you are already in #51. If you want to change teams, unassign yourself from #51 and write me again here.

[2019-11-30 22:01] 1ucian0 commented on #51
@qcamp

[2019-11-30 22:12] #51 closed

[2019-12-03 19:09] 1ucian0 commented on #3
@qcamp

[2019-12-03 19:09] qcamp commented on #3
Hi @1ucian0! I could not add you to this group because you are already in #4. If you want to change teams, unassign yourself from #4 and write me again here.

[2019-12-03 19:19] #3 closed, assigned to nobody

[2019-12-16 12:53] #46 closed, assigned to zaki-joho, Ayumu-walker, yoooopeeee, kentarotamura612, Keisuke-Kato-1107